.site{
}

.site-unity{
    background: #eaeaea;
    height: 200px;
    border-radius: 2px;
    &:hover{
        background: #f5f5f5;
    }
}

.site-title{
    font-size:2em;
    text-align: center;
    margin: 40% 0;
    width: 100%;
    height: 100%;
    float: left;
}