---
name: espinha
url: /cidade/:cidade_id/sitio/:sitio_id/setor/:setor_id/espinha/:espinha_id
controller: EspinhaController
animationIn: slideInLeft
animationOut: slideOutLeft
---
    <h1><a ui-sref="sitio({ cidade_id: cidade, sitio_id: sitio, setor_id: setor })"><</a> Espinha {{id}}</h1>
    <div class="grid-block" >
       <espinha data="spine" cidade="cidade" setor="setor" sitio="sitio" espinha="espinha" class="spine"></espinha>
    </div>
    <hr>
    <div ui-view class="grid-block small-12">

    </div>