---
name: home
url: /
controller: CidadeController
---

<h1>SÍTIOS</h1>

<div class="site" ng-repeat="city in cities">
    <h2>{{city.name}}</h2>
    <div class="grid-block small-up-4">
        <div class="grid-content site-unity" ng-repeat="site in city.sites">
            <a class="site-title" ui-sref="sitio({ cidade_id: city.id , sitio_id: site.id })">{{site.id}}</a>
        </div>
    </div>
    <hr>
</div>
