---
name: espinha.ponto
url: /ponto/:ponto_id
controller: PontoController
animationIn: slideInLeft
animationOut: slideOutLeft
---
 
      <div class="grid-content small-12">
           <h4 class="text-left">Ponto {{id}}</h4> 
           <a class="button" zf-hard-toggle="editPoint" href="#">Editar</a>   
       </div>
 
       <div class="grid-content small-4">
            <p>
                <strong>Tipo: </strong>{{ponto.tipo}}
            </p>
        </div>

        <div class="grid-content small-4 small-offset-4">
            <p>
                <strong>Grupo de atendimento: </strong>{{ponto.grupoAtendimento}}
            </p>
        </div>
   
          <div class="grid-content small-4">
            <h4>COMPUTADOR</h4>
            <p>
                <strong>Número de série</strong><br/>{{ponto.numeroSerie}}
            </p>
            <p>
                <strong>Patrimônio</strong><br/>{{ponto.patrimonio}}
            </p> 
            <p>
                <strong>Versão do SO</strong><br/>{{ponto.sistemaOperacional}}
            </p> 
            <p>
                <strong>Serial</strong><br/>{{ponto.serialSistemaOperacional}}
            </p>   
          </div>
          <div class="grid-content small-4">
            <h4>REDE</h4>
            <p>
                <strong>Número do switch</strong><br/>{{ponto.switchNumero}}
            </p>
            <p>
                <strong>Porta</strong><br/>{{ponto.switchPorta}}
            </p> 
            <p>
                <strong>Hostname</strong><br/>{{ponto.networkHostname}}
            </p> 
            <p>
                <strong>Endereço MAC "Físico"</strong><br/>{{ponto.networkMac}}
            </p>  
          </div>
          <div class="grid-content small-4">
            <h4>RAMAL</h4>
            <p>
                <strong>Número</strong><br/>{{ponto.ramal}}
            </p>
            <p>
                <strong>IP</strong><br/>{{ponto.ramalIp}}
            </p> 
            <p>
                <strong>Gateway</strong><br/>{{ponto.ramalGateway}}
            </p> 
            <p>
                <strong>File server</strong><br/>{{ponto.ramalFileServer}}
            </p>
            <p>
                <strong>Call server</strong><br/>{{ponto.ramalCallServer}}
            </p>
            <p>
                <strong>VLAN ID</strong><br/>{{ponto.ramalVlanId}}
            </p>  
          </div>   
   
  <zf-panel id="editPoint" class="panel-fixed" position="bottom">
      <div class="grid-content">
         <h3>Editar ponto {{id}}</h3>
         <hr>
         <form>
            <div class="grid-block">
                 <div class="medium-6  small-6 grid-content">
                      Tipo
                      <input type="text" placeholder="Text field" ng-model="ponto.tipo" value="{{ponto.tipo}}">
                 </div>
                 <div class="medium-6  small-6 grid-content">
                      Grupo de atendimento
                      <input type="text" placeholder="Text field" ng-model="ponto.grupoAtendimento" value="{{ponto.grupoAtendimento}}">
                 </div>  
                 <div class="medium-4  small-6 grid-content">
                     <h4>COMPUTADOR</h4>
                     <label>
                        Número de série
                        <input type="text" placeholder="Text field" ng-model="ponto.numeroSerie" value="{{ponto.numeroSerie}}">
                     </label>
                     <label>
                        Patrimônio
                        <input type="text" placeholder="Text field" ng-model="ponto.patrimonio" value="{{ponto.patrimonio}}">
                     </label>
         
                        <label>Separate Label</label>
                        <select name="" id="">
                        <option value="">Breakfast</option>
                        <option value="">Bacon Pancakes</option>
                        <option value="">Mountain Dew</option>
                        </select>
                     </label>
                     <label>
                        Serial
                        <input type="text" placeholder="Text field" ng-model="ponto.serialSistemaOperacional" value="{{ponto.serialSistemaOperacional}}">
                     </label>
                 </div>
                 <div class="medium-4 small-6 grid-content">
                     <h4>REDE</h4>
                     <div class="grid-block">
                         <div class="grid-content medium-8">
                             <label>
                        Número do switch
                        <input type="text" placeholder="Text field" ng-model="ponto.switchNumero" value="{{ponto.switchNumero}}">
                     </label>
                         </div>
                         <div class="grid-content medium-4">
                             <label>
                        Porta
                        <input type="text" placeholder="Text field" ng-model="ponto.switchPorta" value="{{ponto.switchPorta}}">
                     </label>
                         </div>
                     </div>
                     <label>
                        Hostname
                        <input type="text" placeholder="Text field" ng-model="ponto.networkHostname" value="{{ponto.networkHostname}}">
                     </label>
                     <label>
                        Endereço MAC "Físico"
                        <input type="text" placeholder="Text field" ng-model="ponto.networkMac" value="{{ponto.networkMac}}">
                     </label>
                 </div>
                 <div class="medium-4  small-6 grid-content">
                     <h4>RAMAL</h4>
                     <label>
                        Número
                        <input type="text" placeholder="Text field" ng-model="ponto.ramal" value="{{ponto.ramal}}">
                     </label>
                     <div class="grid-block">
                         <div class="grid-content small-6 medium-6">
                             <label>
                        IP
                        <input type="text" placeholder="Text field" ng-model="ponto.ramalIp" value="{{ponto.ramalIp}}">
                     </label>
                         </div>
                         <div class="grid-content small-6 medium-6">
                             <label>
                        Gateway
                        <input type="text" placeholder="Text field" ng-model="ponto.ramalGateway" value="{{ponto.ramalGateway}}">
                     </label>
                         </div>
                         <div class="grid-content small-6 medium-6">
                             <label>
                        File server
                        <input type="text" placeholder="Text field" ng-model="ponto.ramalFileServer" value="{{ponto.ramalFileServer}}">
                     </label>
                         </div>
                         <div class="grid-content small-6 medium-6">
                             <label>
                        Call server
                        <input type="text" placeholder="Text field" ng-model="ponto.ramalCallServer" value="{{ponto.ramalCallServer}}">
                     </label>
                         </div>
                     </div>
                      <label>
                        VLAN ID
                        <input type="text" placeholder="Text field" ng-model="ponto.ramalVlanId" value="{{ponto.ramalVlanId}}">
                     </label>
                 </div>
                 <div class="grid-content small-12 medium-12">
                     <button class="expand button success "><img zf-iconic="" data-src="assets/img/iconic/circle-check.svg" class="iconic-sm iconic-color-succes">Salvar</button>
                 </div>
             </div>
          </form>
        <a href="#" zf-close="" class="close-button">×</a>
      </div>
  </zf-panel>