---
name: sitio
url: /cidade/:cidade_id/sitio/:sitio_id
controller: SitioController
animationIn: fadeIn
animationOut: fadeOut
---
    <h1><a ui-sref="home"><</a>SÍTIO {{sitio}}</h1>
    <h2>Setores</h2>
    <div class="grid-block" >
        {{sectors.name}}
       <setor data="sector" sitio="id" cidade="cidade" setor="sector.id" ng-repeat="sector in sectors" class="sector"></setor>
    </div>
